/* Partner.css */

.partnerDIV {
  display: flex;
  margin: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
 
}

.partnerDIV img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
  /* background-color: red; */
}

@media (max-width: 768px) {
  .partnerDIV {
    justify-content: space-evenly;
  }

  .partnerDIV img {
    width: 40%;
  }
}
@media (max-width: 400px){
  .partnerDIV img {
    width: 60%;
  }
  .partnerDIV{
    gap: 20px;
    flex-direction: column;
  }
}
